<html>
    <head>
        <tittle>All Products</tittle>
    </head>
    <body>
        <h1>All Products</h1>
        <% console.log(products) %>
  <% for(var i=0; i<products.length; i++) { %>
    <h1> <%= products[i]._id %> </h1>
    <h1> <%= products[i].name %> </h1>
    <p> <%= products[i].description %> </p>
    <p>
      <%= products[i].user%>
    </p>
    <h3><%= products[i].content%></h3>
     </p>
     <h3><%= products[i].created%></h3>
    <% } %>

    </body>
    
</html>